@import "../../variables.scss";

.services-section {
    padding: 2rem;

    .section-title {
        grid-column: 1 / 13;
        margin: 1rem 0;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
        justify-items: center;
        gap: 2rem;
    }
}
