@import "../../variables.scss";

.about-us-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
    justify-items: center;
    gap: 2rem;
    padding: 1rem 2rem 2rem 2rem;
}
