// Primary Colors
$clr-primary-light: hsl(43, 70%, 60%);
$clr-primary: hsl(43, 70%, 50%);
$clr-primary-dark: hsl(43, 70%, 40%);

// Box Shadows
$box-shadow: 0px 0px 10px hsl(43, 70%, 70%);

// Border-radius
$br-sm: 4px;
$br-md: 6px;
$br-lg: 8px;

// Breakpoints
$bp-xsm: 0;
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xlg: 1200px;
$bp-xxlg: 1400px;
